.body {
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 153, 116);
    width: 100%;
    display: inline-block;
}
.menu {
    margin: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 30px 0px;
}

#pizza-product{
    margin:20px auto;
    padding: 10px;
}

.logo {
	cursor: pointer;
	z-index: 50;
}

.logo img {
    margin: 10px;
    border-radius: 30px;
}

.logo-text {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.logo:hover{
    text-decoration: none;
}

.shopping-title i {
    color: #2e0257;;
}
.line {
    background-color: lightgrey;
    height: 1px;
}

.product-detail {
    margin-top: 10px;
}

.section-title {
    margin-top: 20px;
}

.product-img img{
    border-radius: 20px;
    margin-left: 12px;
}

.product-title h3{
    font-size: 16px;
    font-weight: bold;
}

.pizza .myBtnContainer {
    background-color: rgb(221, 221, 221);
    padding: 10px;
    border-radius: 20px;
}

.pizzaType {
    white-space: normal;
    word-wrap: break-word;
}

.pizza {
    display: none;
  }
  
.show {
    display: block;
}
  
.container {
    margin-top: 20px;
    overflow: hidden;
}

.con-price {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn {
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}
  
.btn:hover {
    background-color: black;
    color: white;
}
  
.btn.active {
    background-color: black;
    color: white;
}


.add-active {
    box-shadow: 0px 10px 30px 0px rgba(254, 160, 26, .2);
    
}

.add-active .add {
    display: none;
}

.add-active .con-input-btns {
    display: flex;
}

.add {
    width: 100%;
    padding: 15px;
    background: linear-gradient(130deg, #fdc527 0%, #fea01a 100% );
    border: 0px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

.con-input-btns input {
    padding: 10px;
    flex: 1;
    width: calc(100% - 100px);
    height: 49px;
    border: 0px;
    border-bottom: 2px solid #f5f5f5;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

.con-input-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.con-input-btns button {
    padding: 10px;
    min-width: 49px;
    height: 49px;
    border: 0;
    border-radius: 20px;
    background: linear-gradient(130deg, #fdc527 0%, #fea01a 100% );
    color: #fff;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
}

#addCart {
    outline: none;
}

#minus {
    outline: none;
	position: absolute;
	top: 0;
	left: -1px;
	bottom: 0;
	border: 0;
	background: #2e0257;
	font-size: 16px;
	padding: 0 20px;
	color: #fff;
	transition: 0.3s;
	border-radius: 50px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#plus {
    outline: none;
	position: absolute;
	top: 0;
	right: -1px;
	bottom: 0;
	border: 0;
	background: #2e0257;
	font-size: 16px;
	padding: 0 20px;
	color: #fff;
	transition: 0.3s;
	border-radius: 50px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}